.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
}

.main-box{
  width: 100%;
  margin: auto;
}
ul{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;

}
ul li{
  padding: 10px 15px;
  background-color: rgb(11, 5, 37);
  color: #ffff;
  margin: 10px;
  border-radius: 5px;
}
.title{
  padding: 10px;
}




